* {
  margin: 0;
  padding: 0;
  border: border-box;
}
body {
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
#clock-container {
  margin: auto;
  height: 40vw;
  width: 40vw;
  background: url(clock.png) no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hour,
#minute,
#second {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hr,
#hour {
  width: 200px;
  height: 200px;
}
#min,
#minute {
  width: 250px;
  height: 250px;
}
#sec,
#second {
  width: 300px;
  height: 300px;
}
#hr,
#min,
#sec {
  display: flex;
  justify-content: center;
  position: absolute;
}
#hr::before {
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: lightblue;
  content: "";
}

#min::before {
  position: absolute;
  width: 8px;
  height: 125px;
  background-color: lightcoral;
  content: "";
}

#sec::before {
  position: absolute;
  width: 6px;
  height: 150px;
  background-color: lightsalmon;
  content: "";
}
